.loghi ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loghi{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 35px;
}

.loghi li{
    list-style: none;
    padding-left: 67px;
    padding-top: 15px;
}

