ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 87px;
    margin-right: 35px;
    font-size: 20px;
    font-weight: bold;
  }

ul li{
  font-size: 20px;
  text-decoration: none;
  padding-left: 57px;
}

li a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

*{
    margin: 0;
    box-sizing: border-box;
  }

.hero{
}
